<% provide(:title, 'Help') %>
<% provide(:top_label, 'Help') %>

	<body>
		<div id="back-image">
		</div>
		<div class="container" >
			<div id="front-unit">
				<div class="image-box">
					<div class="box-text">
						Help Page
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="sign_up_button">
				<%= link_to "Sign up now!!", '#', class: "btn btn-large btn-primary" %>
			</div>
		</div>
	</body>

