
	<body>
		
		<% if !signed_in? %>
			<div id="bg">
		  		<%= image_tag("street.jpg", alt: "rss feed") %>
			</div>
			<%= render 'general_landing_page' %>

		<% else %>
		<% provide(:top_label, 'Home') %>
			<%= render 'user_home_page' %>
		<% end %>
		
	</body>