
	<body>
		<div id="bg">
  			<%= image_tag("street.jpg", alt: "rss feed") %>
		</div>
		<div class="container" >
			<div id="front-unit">
				<div class="image-box">
					<div class="box-text">
						Home is where your friends are
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="sign_in_button">
				<%= link_to "Sign in", '#', class: "btn btn-large btn-primary pull-right" %>
			</div>
		</div>
		<div class="container">
			<div id="sign_up_link">
				<div class="sign_in_text pull-right">
					not a user? <%= link_to "Sign up now!!", signup_path  %>
				</div>
			</div>
		</div>

	</body>


	